{% extends "auctions/layout.html" %}

{% block title %}
    Auction
{% endblock %}

{% block body %}
    {{auction.title}} <br>
    {{auction.desc}}

    <br><br>
    {% if exists %}
        <a href="{% url 'watchlist_remove' auction.id %}">➖Watchlist</a> <br> <br>
    {% else %}
        <a href="{% url 'watchlist_add' auction.id %}">➕Watchlist</a> <br> <br>
    {% endif %}
    
    Bid: 
    <form action="">
        <input type="text" placeholder="value">
        <input type="submit">
    </form>
    <br>

    Comment:
    <form action="">
        <input type="text" placeholder="Write something...">
        <input type="submit">
    </form>

    Closed? {{auction.closed}}
    <a href="{% url 'close' auction.id %}">Close</a>
{% endblock %}