{% extends "auctions/layout.html" %}

{% block title %}
    Auction
{% endblock %}

{% block body %}
    {{auction.title}} <br>
    {{auction.desc}}

    <br><br>
    {% if exists %}
        <a href="{% url 'watchlist_remove' auction.id %}">➖Watchlist</a> <br> <br>
    {% else %}
        <a href="{% url 'watchlist_add' auction.id %}">➕Watchlist</a> <br> <br>
    {% endif %}
    
    Bid: 
    <form action="">
        <input type="text" placeholder="value">
        <input type="submit">
    </form>
    <br>

    Closed? {{auction.closed}}
    <a href="{% url 'close' auction.id %}">Close</a>

    <br><br>
    Comment:
    <form action="{% url 'comment' auction.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="content" placeholder="Write something...">
        <input type="submit">
    </form>

    <br><br>
    <ul>
    {% for item in comments %}
        <li>{{item.content}}</li>
    {% endfor %}
    </ul>
{% endblock %}