{% extends "auctions/layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block body %}
    <h3>Creating a listing:</h3>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        {{form}}

        Categoria:
        <select name="category">

            <option value=0></option>
            {% for item in categories %}
                <option value="{{item}}">{{item}}</option>
            {% endfor %}

        </select>

        <input type="submit">
    </form>
    
{% endblock %}